[Unit]
Description=Postfix MTA service

Requires=etcd.service
Requires=docker.service

After=etcd.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull dawi2332/postfix
ExecStart=/usr/bin/docker run --name %n --env-file=/etc/environment \
	-p ${COREOS_PUBLIC_IPV4}:25:25 -p ${COREOS_PUBLIC_IPV4}:587:587 \
	-e ETCDCTL_PEERS=${COREOS_PUBLIC_IPV4}:4001 -e CONTAINER=%n \
	dawi2332/postfix
ExecStop=/usr/bin/docker stop %n

[X-Fleet]
X-Conflicts=%n
